{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script> -->
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram Login Form</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        
    

        <form action="" method="POST" enctype="multipart/form-data">
          <div class="logo">
            <h3 style="padding-top: 5px; font-size: 20px;">Notifications</h3>
          </div>

            <!-- First Section -->
            {% for notification in notifications %}
                {% if notification.notification_type == 1 %}
                    <div class="alert alert-white alert-dismissible fade show" role="alert" style="border: 1px rgba(219, 219, 219, 0.699) solid; border-radius: 25px;">
                        <div class="side-menu__user-profile">
                            <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar">
                                {% if notification.sender.profile.image %}
                                    <img src="{{ notification.sender.profile.image.url }}" alt="User Picture">
                                {% else %}
                                    <img src="{% static 'assets1/default.jpg' %}" alt="User Picture">
                                {% endif %}
                            </a>
                            <div class="side-menu__user-idnfo" style="text-align: start;">
                                <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;">{{ notification.sender.profile.first_name|title }} {{ notification.sender.profile.last_name|title }}</a> <br>
                                <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;"><b><i class="bi bi-hand-thumbs-up-fill" style="color: blue;"></i> Liked you Picture</b></a> <br>
                                <a href="{% url 'profile' user.username %}" style="font-size: 10px; color: rgb(75, 75, 75); ">{{ notification.date }}</a>

                            </div>
                            <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar" style="margin-left: 20px;">
                                <img src="{{ notification.post.picture.url }}" alt="User Picture">
                            </a>
                        </div>
                        <a href="{% url 'delete-notification' notification.id %}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                      </div>
                {% endif %}
                
                {% if notification.notification_type == 3 %}
                    <div class="alert alert-white alert-dismissible fade show" role="alert" style="border: 1px rgba(219, 219, 219, 0.699) solid; border-radius: 25px;">
                        <div class="side-menu__user-profile">
                            <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar">
                                {% if notification.sender.profile.image %}
                                    <img src="{{ notification.sender.profile.image.url }}" alt="User Picture">
                                {% else %}
                                    <img src="{% static 'assets1/default.jpg' %}" alt="User Picture">
                                {% endif %}
                            </a>
                            <div class="side-menu__user-idnfo" style="text-align: start;">
                                <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;">{{ notification.sender.profile.first_name|title }} {{ notification.sender.profile.last_name|title }}</a> <br>
                                <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;"><b><i class="bi bi-hand-thumbs-up-fill" style="color: blue;"></i> Liked you Picture</b></a> <br>
                                <a href="{% url 'profile' user.username %}" style="font-size: 10px; color: rgb(75, 75, 75); ">{{ notification.date }}</a>
                            </div>
                        </div>
                        <a href="{% url 'delete-notification' notification.id %}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                      </div>
                {% endif %}


                {% if notification.notification_type == 2 %}
                <div class="alert alert-white alert-dismissible fade show" role="alert" style="border: 1px rgba(219, 219, 219, 0.699) solid; border-radius: 25px;">
                  <div class="side-menu__user-profile">

                    <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar">
                      {% if notification.sender.profile.image %}
                          <img src="{{ notification.sender.profile.image.url }}" alt="User Picture">
                      {% else %}
                          <img src="{% static 'assets1/default.jpg' %}" alt="User Picture">
                      {% endif %}
                    </a>
                     
                      <div class="side-menu__user-idnfo" style="text-align: start;">
                        <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;">{{ notification.sender.profile.first_name|title }} {{ notification.sender.profile.last_name|title }}</a> <br>
                        <a href="{% url 'profile' user.username %}" style="font-size: 15px; color: black; text-align: center;"><b><i class="bi bi-chat-dots-fill" style="color: rgb(252, 122, 1);"></i> Commented on your post</b></a> <br>
                        <a href="{% url 'profile' user.username %}" style="font-size: 10px; color: rgb(75, 75, 75); ">{{ notification.date }}</a>
                      </div>

                      <a href="{% url 'profile' user.username %}" class="side-menu__user-avatar" style="margin-left: 20px;">
                        <img src="{{ notification.post.picture.url }}" alt="User Picture">
                      </a>
                  </div>
                  <a href="{% url 'delete-notification' notification.id %}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
              </div>
                {% endif %}

            {% endfor %}

            <!-- third Section -->

            

        </form>


      </div>
    </div>

    <footer>
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
            <li>
              <a href="#">Api</a>
            </li>
            <li>
              <a href="#">Jobs</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
            <li>
              <a href="#">Directory</a>
            </li>
            <li>
              <a href="#">Profiles</a>
            </li>
            <li>
              <a href="#">Hashtags</a>
            </li>
            <li>
              <a href="#">Languages</a>
            </li>
          </ul>
        </nav>
        <div class="copyright-notice">
          &copy 2019 Instagram
        </div>
      </div>
    </footer>

  </div>

</body>

</html>
{% endblock content %}