dj-database-url==0.5.0
Django==3.1
django-allauth==0.47.0
django-appconf==1.0.5
django-bootstrap4==3.0.1
django-celery-beat==2.2.1
django-ckeditor==6.1.0
django-cors-headers==3.5.0
django-crispy-forms==1.12.0
django-debug-toolbar==2.2
django-filter==21.1
django-formset-js-improved==0.5.0.2
django-heroku==0.3.1
django-static-fontawesome==5.14.0.0
django-storages==1.12.3
gunicorn==20.0.4
h11==0.9.0
Pillow==8.3.1
h2==3.2.0
hpack==3.0.0
hstspreload==2021.8.1
whitenoise==5.2.0

